DemoApp.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
DemoApp.xcodeproj/project.xcworkspace/xcuserdata/ihor.xcuserdatad/UserInterfaceState.xcuserstate
DemoApp.xcodeproj/project.xcworkspace/xcuserdata/ihor.xcuserdatad/WorkspaceSettings.xcsettings
DemoApp.xcodeproj/xcuserdata/ihor.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
DemoApp.xcodeproj/xcuserdata/ihor.xcuserdatad/xcschemes/xcschememanagement.plist
